* {
    margin: 0;
    padding: 0;

}

html, body {
    font-size: 18px;
    background-color: var(--color-fondo);
    color: var(--color-texto-oscuro);
}

.App {
    min-height: 100vh;
    display:inline;
    flex-wrap: wrap;
    aligh-itemns: center;
    justify-conten: center;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  background-color: var(--color-acento-claro);
}

.logo-container {
    display: flex;
    align-items: center;
}

    .logo-container h1 {
        margin-left: 10px; /* Espacio entre el logo y el texto */
    }

.logo {
    height: 50px; /* Ajusta el tamaño del logo según necesites */
}

.navbar {
    display: flex;
    gap: 20px; /* Espacio entre los enlaces del menú */
}

    .navbar a {
        text-decoration: none;
        color: #333; /* Color del texto de los enlaces */
    }

footer {
    margin-top: 20px;
    background-color: var(--color-acento-oscuro);
    color: var(--color-acento-claro);
}
